<div class="bt-form" id="btp_frps">
    <div class="bt-w-main" style="position:relative" v-show="!init">
        <div style="position:absolute;top:50%;width:100%;margin-top:-32px">
            <div style="background:url('/btp_frps/static/loading-2.gif') no-repeat center;height:32px"></div>
            <div style="text-align:center;line-height:32px">正在加载组件，请稍后 ...</div>
        </div>
    </div>
    <div class="bt-w-main" style="display:none" v-show="init">
        <div class="bt-w-menu">
            <p v-bind:class="{bgw: item.value === current}" v-for="item in menu" v-on:click="change(item.value)" v-text="item.name"></p>
        </div>
        <div class="bt-w-con pd15 divtable">
            <div class="bt-box" v-show="current === 'common'">
                <div class="line">
                    <input accept=".tar.gz,.zip" ref="import" style="display:none" type="file" v-on:change="uploadFile"/>
                    <span class="tname">frps 版本</span>
                    <div class="info-r">
                        <template v-if="!installed">
                            <input class="inputtxt bt-input-text disable" disabled type="text" value="未安装">
                            <span class="btn btn-xs btn-success" v-on:click="install">在线安装</span>
                        </template>
                        <template v-else>
                            <input class="inputtxt bt-input-text disable" disabled type="text" v-model="version">
                            <span class="btn btn-xs btn-success" v-on:click="upgrade">检查更新</span>
                        </template>
                        <span class="btn btn-xs btn-success" v-on:click="$refs.import.click()" v-text="installed ? '离线更新' : '离线安装'"></span>
                        <a href="https://github.com/fatedier/frp/releases" rel="noreferrer" target="_blank">前往 GitHub 下载</a>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">监听地址</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="0.0.0.0" style="width:230px" type="text" v-model="config.bindAddr">
                        <span style="color:#999">* 支持监听 IPv6 地址</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">TCP 端口</span>
                    <div class="info-r"><input class="bt-input-text mr5" placeholder="7000" style="width:100px" type="number" v-model.number="config.bindPort"></div>
                </div>
                <div class="line">
                    <span class="tname">KCP 端口</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="7000" style="width:100px" type="number" v-model.number="config.kcpBindPort">
                        <span style="color:#999">* KCP 协议的 UDP 端口，可与 TCP 端口相同</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">鉴权令牌</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="12345678" style="width:230px;padding-inline-end:25px" type="password" v-model="config.authToken">
                        <i class="glyphicon glyphicon-eye-open" style="left:-28px;cursor:pointer" v-on:click="showHidePwd"></i>
                    </div>
                </div>
                <div class="line">
                    <span class="tname"></span>
                    <div class="info-r">
                        <button class="btn btn-success btn-sm" v-on:click="save">保存配置</button>
                    </div>
                </div>
            </div>
            <div class="bt-box" v-show="current === 'advanced'">
                <div class="line">
                    <span class="tname">代理监听地址</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" style="width:230px" type="text" v-bind:placeholder="config.bindAddr" v-model="config.proxyBindAddr">
                        <span style="color:#999">* 默认与通用设置的监听地址相同</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">日志等级</span>
                    <div class="info-r">
                        <select class="bt-input-text mr5" v-model="config.logLevel">
                            <option value="trace">trace</option>
                            <option value="debug">debug</option>
                            <option value="info">info</option>
                            <option value="warn">warn</option>
                            <option value="error">error</option>
                        </select>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">日志颜色</span>
                    <div class="info-r">
                        <select class="bt-input-text mr5" v-model="config.disablePrintColor">
                            <option v-bind:value="true">禁用</option>
                            <option v-bind:value="false">启用</option>
                        </select>
                        <span style="color:#999">* 仅使用控制台运行 frps 有效</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">日志切割</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="3" style="width:100px" type="number" v-model.number="config.logMaxDays">
                        <span style="color:#999">* 按设定时间进行日志切割，单位：天</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">心跳超时</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="90" style="width:100px" type="number" v-model.number="config.heartbeatTimeout">
                        <span style="color:#999">* 不建议修改默认心跳超时，单位：秒，默认值：90</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">最大连接池</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="5" style="width:100px" type="number" v-model.number="config.maxPoolCount">
                    </div>
                </div>
                <div class="line">
                    <span class="tname">最大端口数</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="0" style="width:100px" type="number" v-model.number="config.maxPortsPerClient">
                        <span style="color:#999">* 限制每个客户端最多创建的端口数量，设置为 0 表示不限制</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname"></span>
                    <div class="info-r">
                        <button class="btn btn-success btn-sm" v-on:click="save">保存配置</button>
                    </div>
                </div>
                <ul class="help-info-text c7" style="/* display:none */">
                    <li>高级设置项目多数情况下保持默认设置即可</li>
                </ul>
            </div>
            <div class="bt-box" v-show="current === 'dashboard'">
                <div class="line">
                    <span class="tname">监听地址</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" style="width:230px" type="text" v-bind:placeholder="config.bindAddr" v-model="config.dashboardAddr">
                        <span style="color:#999">* 默认与通用设置的监听地址相同</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">监听端口</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="7500" style="width:100px" type="number" v-model.number="config.dashboardPort">
                    </div>
                </div>
                <div class="line">
                    <span class="tname">验证账户</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="admin" style="width:230px" type="text" v-model="config.dashboardUser">
                    </div>
                </div>
                <div class="line">
                    <span class="tname">验证密码</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="admin" style="width:230px;padding-inline-end:25px" type="password" v-model="config.dashboardPwd">
                        <i class="glyphicon glyphicon-eye-open" style="left:-28px;cursor:pointer" v-on:click="showHidePwd"></i>
                    </div>
                </div>
                <div class="line">
                    <span class="tname"></span>
                    <div class="info-r">
                        <button class="btn btn-success btn-sm" v-on:click="save">保存配置</button>
                    </div>
                </div>
            </div>
            <div class="bt-box" v-show="current === 'vhost'">
                <div class="line">
                    <span class="tname">二级域名</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="frps.com" style="width:230px" type="text" v-model="config.subDomainHost">
                    </div>
                </div>
                <div class="line">
                    <span class="tname">HTTP 端口</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="80" style="width:100px" type="number" v-model.number="config.vhostHTTPPort">
                        <span style="color:#999">* 可与通用设置的 TCP 端口相同</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">HTTPS 端口</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="443" style="width:100px" type="number" v-model.number="config.vhostHTTPSPort">
                        <span style="color:#999">* 可与通用设置的 TCP 端口相同</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">HTTP 超时</span>
                    <div class="info-r">
                        <input class="bt-input-text mr5" placeholder="60" style="width:100px" type="number" v-model.number="config.vhostHTTPTimeout">
                        <span style="color:#999">* 请求超时时间，单位：秒，默认：60</span>
                    </div>
                </div>
                <div class="line">
                    <span class="tname">404 页面</span>
                    <div class="info-r">
                        <select class="bt-input-text mr5" v-model="config.enabledCustom404Page">
                            <option v-bind:value="false">禁用</option>
                            <option v-bind:value="true">启用</option>
                        </select>
                        <button class="btn btn-xs btn-success" v-bind:disabled="!config.enabledCustom404Page" v-on:click="custom404Page">自定义</button>
                    </div>
                </div>
                <div class="line">
                    <span class="tname"></span>
                    <div class="info-r">
                        <button class="btn btn-success btn-sm" v-on:click="save">保存配置</button>
                    </div>
                </div>
            </div>
            <div class="bt-box" v-show="current === 'ports'">
                <div class="mb15">
                    <button class="btn btn-success btn-sm mr5" v-on:click="addPort">添加端口</button>
                    <button class="btn btn-success btn-sm" v-on:click="save">保存配置</button>
                </div>
                <div class="divtable">
<!--                    <table class="table table-hover waftable" style="color:#fff">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th width="460">端口</th>-->
<!--                            <th>操作</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                    </table>-->
                    <div style="/* height:430px;overflow:auto */">
                        <table class="table table-hover waftable" style="/* margin-top:-35px */">
                            <thead>
                            <tr>
                                <th style="width:460px">端口</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(port, index) in config.allowPorts">
                                <td v-text="port"></td>
                                <td><a class="btlink" v-on:click="removePort(index)">删除</a></td>
                            </tr>
                            <tr v-if="!config.allowPorts.length">
                                <td colspan="2">未设置任何端口白名单</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bt-box" v-show="current === 'extra'">
                <textarea class="bt-input-text" placeholder="option = value //每行一个配置项" style="line-height:20px; width: 100%; height:300px;" v-model="config.extraConfig"></textarea>
                <div class="line">
                    <button class="btn btn-success btn-sm mr5" v-on:click="saveExtra">保存配置</button>
                    <button class="btn btn-danger btn-sm" v-on:click="clearExtra">清空配置</button>
                </div>
                <ul class="help-info-text c7 mtb15">
                    <li>本页面可以额外增加一些自定义配置，具体配置项请参考<a href="https://gofrp.org/zh-cn/docs/reference/server-configures/" rel="noreferrer" target="_blank">【官方文档】</a></li>
                    <li>请不要重复增加其他页面已有的配置，否则会产生冲突导致程序无法正常启动</li>
                    <li>若程序版本≥0.37.0时会自动校验配置完整性，否则请自行核对配置内容是否正确</li>
                </ul>
            </div>
            <div class="bt-box" v-show="current === 'status'">
                <div class="soft-man-con bt-form">
                    <p class="status">
                        <span v-if="!installed">当前状态：未安装</span>
                        <span v-else-if="started">当前状态：开启</span>
                        <span v-else>当前状态：关闭</span>
                        <span class="glyphicon glyphicon-play" style="color:#20a53a;margin-left:3px"
                              v-if="installed && started"></span>
                        <span class="glyphicon glyphicon-pause" style="color:red;margin-left:3px" v-else></span>
                    </p>
                    <div class="sfm-opt mb15">
                        <button class="btn btn-default btn-sm" v-bind:disabled="!installed || started" v-on:click="start">开启</button>
                        <button class="btn btn-default btn-sm" v-bind:disabled="!installed || !started" v-on:click="restart">重启</button>
                        <button class="btn btn-default btn-sm" v-bind:disabled="!installed || !started" v-on:click="stop">关闭</button>
                        <button class="btn btn-default btn-sm" v-bind:disabled="!installed" v-on:click="clearLogs">清理日志</button>
                    </div>
                    <pre style="margin:0px;width:100%;height:420px;background-color:#333;color:#fff;padding:0 5px;border-radius:0" v-text="logs"></pre>
                </div>
            </div>
            <div class="bt-box" v-show="current === 'about'">
                <p class="status mb15">如果您在使用上有任何问题或建议，请您反馈到以下链接：</p>
                <p class="status mb15"><a href="https://www.bt.cn/bbs/thread-35967-1-1.html" rel="noreferrer" target="_blank">https://www.bt.cn/bbs/thread-35967-1-1.html</a></p>
                <p class="status mb15">未来功能构想：</p>
                <p class="status mb15">1.自动放行端口（可能仅支持 firewalld）；2.查看已链接客户端（或接管仪表盘）等。</p>
                <p class="status mb15">本项目依赖以下项目或组件</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>网站</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in about">
                        <td v-text="item.name"></td>
                        <td><a rel="noreferrer" target="_blank" v-bind:href="item.url" v-text="item.url"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ref="addPort" style="display:none">
        <div class="bt-form pd20">
            <div class="line">
                <span class="tname">端口</span>
                <div class="info-r c4"><input autocomplete="off" class="bt-input-text" name="__VALUE__" placeholder="请输入白名单端口" style="width:270px" type="text"></div>
                <div class="info-r c4" style="color:#999">* 可使用「-」表示范围</div>
            </div>
        </div>
    </div>
</div>
<script src="/btp_frps/static/init.js" type="text/javascript"></script>